*.m4
autom4te*
*.swp
configure
config.*
*.o
*.l?
*~
*.a
.*
*#
*Makefile
*Makefile.in
depcomp
stamp-h1
install-sh
libtool
missing
ChangeLog
log.txt
src/bootstrap
src/libparser/lexer.c
src/libparser/scheme.output
src/libparser/scheme.h
src/libparser/scheme.c
ylwrap
TAGS
*.gz
